.DS_Store
.sass-cache/
.tmp/
node_modules/
bower_components/
test/
tests/

wordpress/*

!wordpress/wp-content/
wordpress/wp-content/*

!wordpress/wp-content/themes/
wordpress/wp-content/themes/*

!wordpress/wp-content/themes/pkgeography/
!wordpress/wp-content/themes/pkgeography/*

wordpress/wp-content/themes/pkgeography/.DS_Store
wordpress/wp-content/themes/pkgeography/.sass-cache/
wordpress/wp-content/themes/pkgeography/.tmp/
wordpress/wp-content/themes/pkgeography/node_modules/
wordpress/wp-content/themes/pkgeography/bower_components/