/**
 * Adsense
 */

.gpk-single-adsense {
	text-align: center;
	padding: 10px 10px 5px;
	border-radius: 3px;
	color: #ccc;

	@media(max-width: $screen-xs) {
		float: none;
		display: block;
	}

	small {
		display: block;
		font-size: 12px;
		margin-bottom: 10px;
	}

	&.block {
		background-color: #eee;
		float: right;
		display: table;
		margin: 0 0 10px 18px;
	}

	&.banner {
		display: block;
		width: 100%;
		overflow: hidden;
		margin-bottom: 18px;
	}
}

.gpk-advert {
	display: block;
	margin-bottom: 18px;
	color: $gray-light;
	text-align: center;
	padding: 0;

	small {
		display: block;
		padding-top: 10px;
		margin-bottom: 10px;
	}
}