/**
 *  Common styles
 */

a {
	@include transition(color .2s ease-in-out);
}

.btn {
	border: 0 none;
	@include transition(background-color .2s ease-in-out);
}

blockquote {
	font-size: ($font-size-base + 2);
	color: $text-color-gray;
	border-color: $text-color-light-gray;
	border-width: 10px;
	font-weight: normal;
	font-style: oblique;
	position: relative;

	@media(max-width: $screen-xs) {
		padding: 72px 10px 10px;
	}
}
