/**
 *  Common styles
 */

body {
	font-weight: $font-weight;
}

a {
	@include transition(color .2s ease-in-out);
}

.btn {
	border: 0 none;
	@include transition(background-color .2s ease-in-out);
}

blockquote {
	font-size: ($font-size-base + 2);
	background-color: #eee;
	font-style: oblique;
	position: relative;
	padding: 10px 18px;
	border: 0 none;
}
