/**
 * Header, Primary navigation
 */

.gpk-header {
	background-color: transparent;
	padding-bottom: 18px;
	// box-shadow: inset 0 -1px 5px rgba(black, 0.35);
}

.gpk-logo {
	display: inline-block;
	margin: 0 0 18px;
	padding: 0;

	a {
		display: block;
		background-image: url(../images/pkgeography_logo_compact_2x.png);
		background-image: url(../images/pkgeography_logo_compact.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 200px;
		height: 45px;

		@include text-hide();

		@media (min-width: $screen-sm) {
			background-image: url(../images/pkgeography_logo_2x.png);
			background-image: url(../images/pkgeography_logo.svg);
			width: 200px;
			height: 124px;
		}

	}
}

// Mobile nav
.gpk-primary-nav-mobile {
	position: relative;
	display: block;
	float: right;
	margin-top: 18px;
	display: none;

	@media (max-width: $screen-sm) {
		display: block;
	}
}

.gpk-mobile-nav-btn {
	display: block;
	position: relative;
	padding: 10px 0 10px;
	cursor: pointer;
	color: $gpk-brand-secondary;

	&:after {
		position: relative;
		content: "MENU";
		display: block;
		font-size: 7px;
	}
}

// Hamburger
.icon-bar {
	position: relative;
	display: block;
	height: 3px;
	width: 22px;
	margin-bottom: 4px;
	border-radius: 4px;
	background-color: $gpk-brand-secondary;
}

// mobile nav list
.gpk-mobile-nav {
	display: none;

	a {
		display: block;
		padding: 10px 8px;
		margin-bottom: 2px;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		background-color: $brand-success;

		&:hover,
		&:active,
		&:focus {
			background-color: darken($brand-success, 20%);
			color: white;
		}
	}
}

// accessible mobile nav
.no-js {
	.gpk-primary-nav-mobile {
		display: none;
	}

	.gpk-mobile-nav {
		display: block;
	}
}

// primary nav
.gpk-primary-nav {
	background-color: $brand-success;
	margin: 0 auto 4em;
	font-size: $font-size-h5;
	text-transform: uppercase;
	display: none;

	.gpk-desktop-nav {
		margin-bottom: 0;

		li {
			margin: 0;
			padding: 0;
		}
	}


	a {
		display: block;
		padding: 10px;
		color: white;
		text-decoration: none;

		@include transition(background-color 0.2s ease-in-out);

		&:hover,
		&:active,
		&:focus {
			background-color: darken($brand-success, 20%);
			// color: $brand-success;
		}
	}

	@media (min-width: $screen-sm) {
		display: block;
	}

}
