/**
 * Header, Primary navigation
 */

.gpk-header {
	background-color: transparent;

	&.gpk-khasoosi {
		position: relative;
		background: transparent url(https://scontent-b-ams.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/536938_424645710945926_337769841_n.png?oh=f54c01f43fce68bad59ad1a7f0e6d861&oe=5546355A);
		background-position: 0 70%;
		background-size: cover;
		height: 175px;
		cursor: pointer;

		@include transition (all 0.5s ease-in-out);

		.gpk-maloomat {
			position: absolute;
			right: 10px;
			top: 10px;
			max-width: 500px;
			background-color: rgba(white, 0.5);
			padding: 10px 18px;
			border-radius: 3px;
			word-wrap: break-word;

			.gpk-azafi-maloomat {
				display: none;
			}
		}

		&:hover {
			height: 400px;
			background-position: 0 center;

			.gpk-azafi-maloomat {
				display: block;
			}
		}
	}
}

.gpk-logo {
	display: inline-block;
	margin: 0 0 18px;
	padding: 0;
	font-size: $font-size-base;

	a {
		display: block;
		background-image: url(../images/pkgeography_logo_compact_2x.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 200px;
		height: 45px;

		@include text-hide();

		@media (min-width: $screen-sm) {
			background-image: url(../images/pkgeography_logo_2x.png);
			width: 200px;
			height: 124px;
		}

	}
}

// Mobile nav
.gpk-primary-nav-mobile {
	position: relative;
	display: block;
	float: right;
	margin-top: 18px;
	display: none;

	@media (max-width: $screen-sm) {
		display: block;
	}
}

.gpk-mobile-nav-btn {
	display: block;
	position: relative;
	padding: 10px 0 10px;
	cursor: pointer;
	color: $gpk-brand-secondary;

	&:after {
		position: relative;
		content: "MENU";
		display: block;
		font-size: 7px;
	}
}

// Hamburger
.icon-bar {
	position: relative;
	display: block;
	height: 3px;
	width: 22px;
	margin-bottom: 4px;
	border-radius: 4px;
	background-color: $gpk-brand-secondary;
}

// mobile nav list
.gpk-mobile-nav {
	display: none;

	a {
		display: block;
		padding: 10px 8px;
		margin-bottom: 2px;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		background-color: $brand-success;

		&:hover,
		&:active,
		&:focus {
			background-color: darken($brand-success, 20%);
			color: white;
		}
	}
}

// primary nav
.gpk-primary-nav {
	background-color: $brand-success;
	margin: 0 auto 4em;
	font-size: $font-size-h5;
	text-transform: uppercase;
	display: none;

	&.gpk-khasoosi-nav {
		box-shadow: 0 -2px 5px #333;
	}

	.gpk-desktop-nav {
		margin-bottom: 0;

		li {
			margin: 0;
			padding: 0;
		}
	}


	a {
		display: block;
		padding: 10px;
		color: white;
		text-decoration: none;

		@include transition(background-color 0.2s ease-in-out);

		&:hover,
		&:active,
		&:focus {
			background-color: darken($brand-success, 20%);
			// color: $brand-success;
		}
	}

	@media (min-width: $screen-sm) {
		display: block;
	}

}
