
$bg-color: #d9dbc9;
$footer-bg: #b6cc6a;
$dark-green: #363;
$text-color-gray: #888;
$text-color-light-gray: #ddd;

$gpk-blue: #3daeff;
$gpk-green: #090;
$gpk-orange: #ff5f3a;

$gpk-link-hover-primary: #c30;
$gpk-link-hover-secondary: #c30;

$gpk-brand-primary: $gpk-blue;
$gpk-brand-secondary: $gpk-green;
// $gpk-brand-secondary: $gpk-orange;

$facebook-color: #365592;
$twitter-color: #55acee;
$gplus-color: #d73d32;
$youtube-color: #cc181e;
$github-color: #333;
$rss-color: #8d7f05;


// Override Bootstrap defaults
$body-bg: #ebeddf;
$brand-primary: $gpk-brand-primary;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "Raleway", Helvetica, Arial, sans-serif;
$headings-font-weight: 700;
$headings-line-height: 1.15;

$font-size-base: 16px;
// $line-height-base: 1.5;